body {
  margin: 0 auto;
  max-width: 800px;
  font-size: 2vh;
  /* font-family: "Abel"; */
  font-family: "Merriweather";
  line-height: 2rem;
}

.App {
  background: gainsboro;
  padding: 2rem;
}
.warning {
  background: salmon;
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 5px;
}
